<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css" media="screen" title="no title" charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{#each flash }}
  <p class="{{this.type}}">{{ this.message }}</p>
  {{/each}}


<div class="main-content">
  {{{body}}}
</div>

  
</body>

</html>